html{
    scroll-behavior: smooth;
}

.principal{
    margin:0;
    width: 100%;
}

/*--------------------------------------------------------- HEADER --------------------------------------------------------------*/
.header {
    height: 85px;
    width: 100%;
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgba(242, 61, 61,0.0);
    animation: mejora-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
    z-index: 9999;
}

@keyframes mejora-header {
    from{
       color: black
       } 
    to {
        background-color:rgba(7,140,127, 100);
        color:white
    }
}

.header nav{
    width: 29%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.ListaCompleta {
    width: 100%;
    display: flex;
    list-style-type: none;
    padding:0;
    margin: 0;
    font-size: 30px;
    font-family: "Zen Maru Gothic", serif;
    /* font-weight: 400; */
    font-style: normal;
    cursor: pointer;
    justify-content: space-between;
}

.ListaCompleta .ElementoLista {
    transition: transform 0.2s ease, text-decoration 0.2s ease;
}

.ListaCompleta a {
    text-decoration: none;
    color: inherit;
}

 .ListaCompleta .ElementoLista:hover{
   transform: scale(1.2);
}

.submenu {
    position: absolute;
    top: 100%; 
    right: 2px;
    width: 25%;
    background-color: rgba(242, 61, 61, 0.7); 
    z-index: 999; 
    display: none;
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    box-shadow:0px 8px 16px rgba(0, 0, 0, 0.2);
    animation: submenuScroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}
@keyframes submenuScroll{
    from{box-shadow:0px 8px 16px rgba(0, 0, 0, 0.2) }
    to{background-color:rgba(7,140,127, 0.9);
        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.0);
    }
}

.submenu ul {
    list-style-type: none;
    margin: 2%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

.submenu li {
    padding: 5%;
    margin: 3% 10%;
}

.submenu a {
    text-decoration: none;
    color: #000; 
    font-size: 18px; 
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    animation: submenua linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;

}
@keyframes submenua{
    from{ color: black}
    to{ color:white}
}
.submenu .socialesLoa{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px 10px;
}
#toggle:checked ~ .header .submenu {
    display: block;
}

#toggle {
    display: none;
}
#toggle:checked ~ .submenu {
    display: block;
}
.logo{
    width: 29%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin-left: 5%;
}

.logo img {
    width: 130px; 
    height: 100%;
    position: absolute;
}

#logoBlanco{
    transition: transform 0.2s ease, text-decoration 0.2s ease;
    z-index: 0;
    animation: transicion-logoBlanco linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}

#logoNegro{
    transition: transform 0.2s ease, text-decoration 0.2s ease;
    z-index: 1;
    animation: transicion-logoNegro linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}
#logoNegro:hover{
    transform: scale(1.2)
}
#logoBlanco:hover{
    transform: scale(1.2)
}

@keyframes transicion-logoNegro {
    from{
        z-index: 1; 
        opacity: 1;
       } 
    to {
        z-index: 0; 
        opacity: 0;
    }
}

@keyframes transicion-logoBlanco {
    from{
        z-index: 0; 
        opacity: 0;
       } 
    to {
        z-index: 1;
        opacity: 1;
    }
}


.sociales{
    /* padding: 4%; */
    width: 29%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5%; 
}
 @keyframes insta-scroll{  
    to{ color: white;}
 }

.socialesLoa{
    color:black;
    animation: insta-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
 }

 /* Separados porque sin la aclaración .socialesLoa se lo aplica a todo. */
.socialesLoa:link, 
.socialesLoa:visited,
.socialesloa:active{

}

.GGinstagram {
    transition: transform 0.3s;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}

.GGinstagram::after,
.GGinstagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.GGinstagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px;
}

.GGinstagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px;
}
.GGinstagram:hover{
    transform:scale(1.3)
}

.menu-hamburguesa {
    width: 18%; 
    height: 100%;
    display:none;  
    cursor: pointer;
}

.barra {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    border-radius: 9999px;
}
@media (width < 900px){
    .header nav {
        display: none} 
    .menu-hamburguesa{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;}
    .sociales{
        display: none;
    }
}
@media (width<601px){
.header{ 
    background-color:rgba(242, 61, 61, 0.7);
    animation: headerRojo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
    z-index: 9999;}
}

@keyframes headerRojo {
    to {
        background-color:rgba(7,140,127, 100);
    }
}

/*----------------------------------------------- PRIMERA SECCION -------------------------------------------------------------------------------------------*/

.titulo{
    background-image: url(../Imagenes/BackgroundHomeDesvanece.png);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(253, 190, 165, 0.5)), url(../Imagenes/BackgroundHome.jpg); */
    background-size: cover;
    /* background-position: center;    */
    height:900px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: bottom; /*Esto hace que la imagen haga el cover anclando abajo*/
    /* background-color:rgb(248, 232, 177); */
    background-color:rgb(241, 151, 91);
    /* border-bottom: 30px solid rgba(8, 150, 166, 0.30); */
}

@media (width < 1440px){
    .titulo{ 
        height: 600px;
    }
}

@media (width < 1440px) and (height < 700px){
    .titulo{ 
        height: 800px;
    }
}

.tituloPrincipal{
    /*-webkit-text-stroke-color: #0b554f;
    -webkit-text-stroke-width: 1.5px;*/
    font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(4em, 6vw, 6em);
    color: #ffffff;
    
}

.separadorTitulos{
    border:none;
    height:3px;
    width: 30%;
    background-color:#ffffff;
}

.subTituloPrincipal{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2em, 3vw, 3em);
    color: #ffffff;
}

.flecha{
    position: relative;
    width: 5%;
    height: 14%;
    cursor: pointer;
}

#flechaImagen{
    width: 100%;
    animation: rebote 1s infinite ease-in-out;
}

@keyframes rebote {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px); /* Ajusta la altura del rebote */
    }
}


/*--------------------------------------------MIS TRABAJOS----------------------------------------*/

.misTrabajos{
    /* background-color:#0896A6; */
    background-color:rgb(241, 151, 91);
    /* background-image: url(../Imagenes/fondoMisTrabajos.jpg); */
    background-size: cover;
    background-position: center;    
    height:600px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    color: #c7f0ec;
}



/* .tituloTrabajos{
    margin-top: -100px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 80px;
    font-style: normal;
} */

@media (width<700px) {
    .misTrabajos{
        height:auto;
    }
}

@media (width > 1440px){
    .misTrabajos{
        height:1000px;
    }
}


.carrusel{
    display: flex;
    width: 90%;
    height: 85%;
}

@media (width<700px) {
    .carrusel{
        display: none;
    }
    
}

/*@media (width<700px) {
    .slider{
        height: 80%;
        width: 80%;
        position:relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
     }
     .slider img{
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        scroll-snap-align: center;
    }
}*/

@media (width<700px) {
    .slider{
        height: 80%;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;
     }
     .slider img{
        width: 130px;
        height: 240px;
        flex-basis: 100px;
        flex-grow: 1;
    }
}

.carrusel img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.carrusel img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
@media (width>700px){
.slider{
    display: none;
}
.slider img{
    display: none;
}
}

/*---------------------------------TRANSICION(+ DATA)--------------------------------------*/
.transicionGaleriaArtista{
    height: 600px;
    width: 100%;
    background-color: rgb(241, 151, 91);
    display:block;
    background-image: url("../Imagenes/fondoBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style:normal;
    color:#4d4b4b;
    font-size: clamp(0.5em, 1vw, 1em);
    /* text-align: justify; */
}

.divTransicion{
    display: flex;
    width: 90%;
    height: 70%;
    padding-left:5%;
    padding-right:5%;
    padding-top: 3%;
    padding-bottom: 1%;
    justify-content: space-between;
    align-items:flex-start;
}

.divProductos{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* Esto es para probar que las calles están bien*/
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 8rem; */
}

.divProductos img{
    max-width: 50%;
    height: auto;
}

.divProductos h2{
    height: 20%; /* Esto se lo agrego para que se puedan alinear las imagenes */
}

.divRespuesta{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 8rem; */
}

.divRespuesta img{
    max-width: 50%;
    height: auto;
}

.divRespuesta h2{
    height: 20%;
}
.divOnda{
    width:32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 8rem; */
}

.divOnda img{
    max-height: 50%;
    width: 29vw;
}

.divOnda h2{
    height: 20%;
}

@media (width<900px){
    .transicionGaleriaArtista{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .divTransicion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: clamp(1em, 3vw, 3em);
        padding-left: 5%;
        padding-right: 5;
        margin-bottom: 5%;
        height: auto;
    }


    .divProductos{
        margin-left: 0;
        width: 90%;
    }

    .divRespuesta{
        margin-right: 0;
        width: 90%;
    }

    .divOnda{
        margin-right: 0;
        width: 90%;
    }

    .divTransicion img{
        width: 80%;
    }

}

@media (width<700px){
    .transicionGaleriaArtista{
        width: 100%;
        height: 100%;
        display: flex;
    }

}

/*-------------------------------------------ARTISTA-----------------------------------------*/

.artista{
    height:30%;
    width:100%;
    /* rgb(243, 222, 168); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerArtista{
    width: 90%;
    height: 100%;
}

.enlace{
    text-decoration: none;
    color:inherit;
}

.contenedorArtista{
    display:block;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 8rem;
    background-image: url("../Imagenes/loaBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content:left;
    align-items: center;
    transition: transform 0.3s ease;
}

.contenedorArtista:hover{
    transform:scale(1.04);
    cursor:pointer;
}

.artista h2{
    font-family: "Caveat", cursive;
    /* font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal; */
    font-optical-sizing: auto;
    font-size: clamp(2em, 7vw, 7em);
    font-style: normal;
    margin-top: 7%;
    margin-left: 15%;
    color: white;
}

.artista h3{
    font-size: clamp(1em, 1.5vw, 1.5em);
    color: white;
    margin-left: 16%;
    margin-top: -6%;
}


@media (width<900px){
    .contenedorArtista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }

}

@media (width<700px){
    .artista{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .contenedorArtista{
        width: 100%;
        height: 100%;
        background-image: url("../Imagenes/loaBannerRecortada.jpg");
        display: flex;
        align-items:flex-start;
    }

    .contenedorArtista h2{
        margin-left: 5%;
        margin-top: 50%;
    }

    .contenedorArtista h3{
        margin-left: 5%;
    }

}

@media (width<900px){
    .contenedorTexto h2{
        text-align: center;
        margin-left: 0px;
    }
}

/*-----------------------------------------TIENDA Y CONTACTO-----------------------------------------*/

.tiendaTurno {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 930px; 
    width: 100%;
    /* padding: 0 20px;  */
    /* background-color: lightblue; */
    
    background-color: rgb(248, 236, 210);

}


.contenedorTienda,
.contenedorTurno {
    /* width: 50%;  */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turno ,.tienda {
    /* width: 80%; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorTienda{
    background-color: white;
    width: 34%;
    box-shadow:0px 8px 16px rgba(0, 0, 0, 0.2);
}

.tienda {
    /* background-color: lightblue; */
    background-color: rgb(250, 198, 87);
    margin-left: 5%;
    width: 70%;
    height: 90%;
    box-shadow:0px 8px 16px rgba(0, 0, 0, 0.3);
}

#botonLimon{
    width:125%;
    height: 125%;
    /* margin-left: 8%; */
    margin-left: -11%;
}

@media (width<900px){

    .tiendaTurno{
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
    }

    .contenedorTienda{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .tienda{
        width: 70%;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 18%; /* No tengo idea por qué no se centra la imagen*/
    }

    #botonLimon{
        width: 100%;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.contenedorTurno {
    /* text-align: right; */
    /* background-color:lightblue; */
    background-color: rgb(248, 236, 210);
    width: 64.5%; 
    justify-content: center;
    align-items: center;
}

.turno h2 {
    margin-top: 5%;
    text-align: center;
    font-size: clamp(2.5em, 1.5vw, 5em);
    /* font-family: "Cutive Mono", monospace;  */
    font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal;
}

.turno{
    background-color:white;
    display: flex;
    /* flex-direction: column; */
    font-family: "Zen Maru Gothic", serif;
    font-size: calc(0.5vw + .7em);
    overflow: hidden;
    width: 90%;
    height: 90%;
    margin-right: 5%;
    box-shadow:0px 8px 16px rgba(0, 0, 0, 0.2);
}

#turno-form{
    height: 100%;
}
.Input-box{
    width: 100%;
    margin-top: 20px;
}
.Input-box label{
    color: black;
    font-size:1.2rem;
}
.boton-form{
    display: flex;
    justify-content: center;
    width:100%;
    
}
.boton-form button{
    width:60%;
    margin-top:25px;
    font-size:20px;
    padding: 10px;
    border-radius:3px;
    

}
.Input-box input{
    position: relative;
    height:40px;
    width:100%;
    outline: none;
    font-size:1rem;
    color:#707070;
    margin-top:8px;
    border:1px solid #ddd;
    border-radius: 6px;
    padding: 0;

}

@media (width<900px){

    .contenedorTurno{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .turno{
        width: 100%;
        padding: 5%;
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*-----------------------------------------------FOOTER----------------------------------------------*/

.estilosFooter{
    background-color: #fc3b00d8;
    height: 200px;
    width:100%;
    display: block;
    padding-top: 2%;
    /* overflow: hidden; */
}

.tituloFooter{
    font-family: "Oooh Baby", cursive;
    font-size: clamp(1em, 2vw, 2em);
    font-weight: 800;
    font-style: normal;
    margin-bottom: 10px;
}

.elementoFooter{
    font-family: "Zen Maru Gothic", serif;
    font-size: calc(.7vw + .3em);
    font-weight: 600;
    font-style: normal;
}

.contenedorListasFooter{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#listasFooter{
    height: 150px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* margin-left: 15%; */
}

#listasFooter ul{
    list-style-type: none;
    width: 29%;
    padding: 0;
}


@media (width<800px){
    .estilosFooter{
        height: auto;
    }

    .contenedorListasFooter{
        margin-bottom: -10%;
    }

    #listasFooter{
        /* height: 150px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -5%;
        overflow: hidden; */
        font-size: calc(3vw + .3em);
    }
} 


#copyrightFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:100%;
    font-size: calc(1vw + .3em);
}
